<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>Pricing</h2>
      <p>
        Unlock Infinite Possibilities by Choosing the Perfect Plan for Your Learning Journey
      </p>
    </div>
  </div>
  <!-- End Breadcrumbs -->

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="box">
            <h3>Free</h3>
            <h4><sup>$</sup>0<span> / month</span></h4>
            <ul>
              <li>Access to beginner courses</li>
              <li>Certificate of completion</li>
              <li>Monthly webinars</li>
              <li class="na">Mentorship sessions</li>
              <li class="na">Priority job assistance</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
          <div class="box featured">
            <h3>Business</h3>
            <h4><sup>$</sup>19<span> / month</span></h4>
            <ul>
              <li>All features from the Basic Plan.</li>
              <li>Business-oriented courses including project management, digital marketing in tech, etc.</li>
              <li>Team progress tracking dashboard.</li>
              <li>Priority email & chat support.</li>
              <li>Ability to host private group sessions or webinars.</li>
              <li>Discounts on specialized workshops.</li>
              <li class="na">Early access to new technical courses & workshops.</li>
              <li class="na">Collaborative coding challenges and hackathons.</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="box">
            <h3>Developer</h3>
            <h4><sup>$</sup>29<span> / month</span></h4>
            <ul>
              <li>All features from the Basic Plan.</li>
              <li>Access to advanced coding and developer courses.</li>
              <li>Exclusive developer tools & resources.</li>
              <li>PMonthly code reviews by expert mentors.</li>
              <li>Early access to new technical courses & workshops.</li>
              <li>Collaborative coding challenges and hackathons.</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="box">
            <span class="advanced">Advanced</span>
            <h3>Ultimate</h3>
            <h4><sup>$</sup>49<span> / month</span></h4>
            <ul>
              <li>Access to all courses and resources on the platform.</li>
              <li>Dedicated account manager for personalized learning guidance.</li>
              <li>One-on-one mentorship sessions.</li>
              <li>Exclusive invites to expert talks, seminars, and conferences.</li>
              <li>Priority 24/7 support.</li>
              <li>Customizable learning paths tailored to individual or company goals.</li>
              <li>Exclusive research papers, case studies, and industry reports.</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Pricing Section -->
</main>
<!-- End #main -->
