<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h2>About Us</h2>
    <p>
      At learnal we are focused on creating top-notch courses for software
      engineers.
    </p>
  </div>
</div>
<!-- End Breadcrumbs -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div
        class="col-lg-6 order-1 order-lg-2"
        data-aos="fade-left"
        data-aos-delay="100"
      >
        <img src="assets/img/about.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>Discover the Future of Tech Learning with Learnal</h3>
        <p class="fst-italic">
          Bridging the Gap Between Aspiration and Knowledge.
        </p>
        <ul>
          <li>
            <i class="bi bi-check-circle"></i> Industry-Curated Content:
            Partnered with tech giants to bring you courses in sync with the
            industry.
          </li>
          <li>
            <i class="bi bi-check-circle"></i>Experienced Instructors: Learn
            from the brightest minds with real-world tech experience.
          </li>
          <li>
            <i class="bi bi-check-circle"></i> Flexible Learning: From full-time
            courses to weekend batches, we have options that fit your schedule.
          </li>
        </ul>
        <p>
          We are here to help attain the best knowledge you can ever think of.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts section-bg">
  <div class="container">
    <div class="row counters">
      <div class="col-lg-3 col-6 text-center">
        <span
          data-purecounter-start="0"
          data-purecounter-end="1232"
          data-purecounter-duration="1"
          class="purecounter"
        ></span>
        <p>Students</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span
          data-purecounter-start="0"
          data-purecounter-end="64"
          data-purecounter-duration="1"
          class="purecounter"
        ></span>
        <p>Courses</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span
          data-purecounter-start="0"
          data-purecounter-end="42"
          data-purecounter-duration="1"
          class="purecounter"
        ></span>
        <p>Events</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span
          data-purecounter-start="0"
          data-purecounter-end="15"
          data-purecounter-duration="1"
          class="purecounter"
        ></span>
        <p>Trainers</p>
      </div>
    </div>
  </div>
</section>
<!-- End Counts Section -->
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Testimonials</h2>
      <p>What are they saying</p>
    </div>

    <div
      class="testimonials-slider swiper"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <swiper-container
        class="swiper-wrapper"
        learnalSwiper
        [config]="swiperConfig"
        init="false"
      >
        <swiper-slide class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img
                src="assets/img/testimonials/testimonials-1.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Saul Goodman</h3>
              <h4>Web Developer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                After enrolling in the Web Development course, my skills have
                reached a whole new level. The instructors are top-notch, and
                the curriculum is both challenging and engaging. I can
                confidently say that joining this platform was one of the best
                career decisions I've made.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </swiper-slide>
        <!-- End testimonial item -->

        <swiper-slide class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img
                src="assets/img/testimonials/testimonials-2.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Sara Wilson</h3>
              <h4>SEO Specialist</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                The Search Engine Optimization course opened my eyes to
                techniques I never knew existed! I've managed to improve the
                rankings for my clients in a short period, thanks to the
                in-depth training I received. I highly recommend this platform
                to anyone serious about up-skilling.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </swiper-slide>
        <!-- End testimonial item -->

        <swiper-slide class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img
                src="assets/img/testimonials/testimonials-3.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Jena Karlis</h3>
              <h4>Entrepreneur</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                I've taken many online courses before, but the courses on this
                platform stand out because of their practical approach. The
                blend of theoretical knowledge with real-world applications is
                perfect. The community is also very supportive, making the
                learning journey even more enriching.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </swiper-slide>
        <!-- End testimonial item -->

        <swiper-slide class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img
                src="assets/img/testimonials/testimonials-4.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Matt Brandon</h3>
              <h4>Student</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Being a college student, I was looking for affordable yet
                high-quality courses that could give me an edge in the job
                market. This platform exceeded my expectations. Not only have I
                learned a lot, but I've also built a portfolio that's impressed
                my prospective employers.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </swiper-slide>
        <!-- End testimonial item -->

        <swiper-slide class="swiper-slide">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img
                src="assets/img/testimonials/testimonials-5.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>John Larson</h3>
              <h4>Content Writer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                As a writer, I thought I knew it all about creating engaging
                content. But the Copywriting course on this platform was a
                game-changer for me. The lessons on persuasive writing have
                drastically improved my conversion rates. Kudos to the team for
                such valuable insights!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </swiper-slide>
        <!-- End testimonial item -->
      </swiper-container>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- End Testimonials Section -->
