<!-- ======= Footer ======= -->
<footer id="footer" class="z-[999]">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Learnal</h3>
          <p>
            <!-- A108 Adam Street <br />-->
            Enugu,<br />
            Nigeria. <br /><br />
            <strong>Phone:</strong> +1 5589 55488 55<br />
            <strong>Email:</strong> info&#64;learnal.com<br />
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a routerLink="/">Home</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a routerLink="/page/about">About us</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a routerLink="/course/courses">Services</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a routerLink="terms-services">Terms of service</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a routerLink="privacy-policy">Privacy policy</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a routerLink="/course/courses?search=web-design">Web Design</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a routerLink="/course/course?search=web-development"
                >Web Development</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a routerLink="/course/courses?search=product-management"
                >Product Management</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a routerLink="/course/courses?search=marketing">Marketing</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a routerLink="/course/courses?search=graphic-desgin"
                >Graphic Design</a
              >
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Join Our Newsletter</h4>
          <p>
            Join our weekly newsletter to receive exclusive information about
            relevant topics.
          </p>
          <form>
            <input type="email" name="email" /><input
              type="submit"
              value="Subscribe"
            />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">
    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>Learnal</span></strong
        >. All Rights Reserved
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="https://twtter.com/learnal" class="twitter"
        ><i class="bx bxl-twitter"></i
      ></a>
      <a href="https://fb.com/learnal" class="facebook"
        ><i class="bx bxl-facebook"></i
      ></a>
      <a href="https://instagram.com/learnal" class="instagram"
        ><i class="bx bxl-instagram"></i
      ></a>
      <a href="https://skype.com/learnal" class="google-plus"
        ><i class="bx bxl-skype"></i
      ></a>
      <a href="https://linkedin.com/in/learnal" class="linkedin"
        ><i class="bx bxl-linkedin"></i
      ></a>
    </div>
  </div>
</footer>

<a class="back-to-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i>
</a>
<!-- End Footer -->
