<router-outlet />

<div
  class="bg-accent-dark top-0 left-0 bg-gradient-to-b to-accent bottom-0 leading-5 h-full w-full overflow-hidden"
>
  <div
    class="relative min-h-[60vh] md:min-h-[50vh] sm:flex sm:flex-row justify-center bg-transparent rounded-3xl shadow-xl"
  >
    <div class="flex justify-center self-center z-10">
      <div
        class="p-8 bg-white mx-auto rounded-3xl w-96 border-b-2 border-accent mt-6 md:mt-1"
      >
        <div class="space-y-6">
          <div class="relative">
            <div
              class="w-full h-auto flex items-center relative bg-gray-200 rounded-lg"
            >
              <input
                class="text-sm text-gray-600 px-4 py-3 rounded-lg w-full bg-gray-200 focus:bg-gray-100 border border-gray-200 focus:outline-none focus:border-accent"
                placeholder="Password"
                [type]="hidePassword ? 'password' : 'text'"
                formControlName="password"
              />

              <button
                class="absolute left-0"
                type="button"
                mat-icon-button
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
              >
                <ng-icon
                  color="gray"
                  [name]="hidePassword ? 'faEyeSlash' : 'faEye'"
                  size="1.5rem"
                />
              </button>
            </div>
            @if(resetPwdForm.get('password')?.hasError('required')){
            <mat-error> Password is required. </mat-error>
            } @if(resetPwdForm.get('password')?.hasError('minlength')){
            <mat-error> Password should be at least 8 characters. </mat-error>
            }
          </div>

          <div class="relative">
            <div
              class="w-full h-auto flex items-center relative bg-gray-200 rounded-lg"
            >
              <input
                class="text-sm text-gray-600 px-4 py-3 rounded-lg w-full bg-gray-200 focus:bg-gray-100 border border-gray-200 focus:outline-none focus:border-accent"
                placeholder="Re-enter Password"
                [type]="hidePassword ? 'password' : 'text'"
                formControlName="password"
              />

              <button
                class="absolute left-0"
                type="button"
                mat-icon-button
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
              >
                <ng-icon
                  color="gray"
                  [name]="hidePassword ? 'faEyeSlash' : 'faEye'"
                  size="1.5rem"
                />
              </button>
            </div>
            @if(controlHasError('password', 'required')){
            <mat-error> Password is required. </mat-error>
            } @if(controlHasError('password', 'minlength')){
            <mat-error> Password should be at least 8 characters. </mat-error>
            }
          </div>

          @if(errorMessage$ | async){
          <h5 class="badge bg-danger mx-auto">
            {{ errorMessage$ | async }}
          </h5>
          }
          <div>
            <button
              type="submit"
              [disabled]="!resetPwdForm.valid"
              [innerText]="
                (IsLoading$ | async) ? 'Changing...' : 'Change Password'
              "
              class="w-full flex justify-center bg-accent-dark hover:bg-accent text-gray-100 p-3 rounded-lg tracking-wide font-semibold cursor-pointer transition ease-in duration-500"
            ></button>
          </div>
        </div>
      </div>
    </div>

    <svg
      class="absolute bottom-0 left-0"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
    >
      <path
        fill="#fff"
        fill-opacity="1"
        d="M0,0L40,42.7C80,85,160,171,240,197.3C320,224,400,192,480,154.7C560,117,640,75,720,74.7C800,75,880,117,960,154.7C1040,192,1120,224,1200,213.3C1280,203,1360,149,1400,122.7L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
      ></path>
    </svg>
  </div>
</div>
