<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>Events</h2>
      <p>
        Stay updated with the latest in tech. Join our webinars, workshops, and hackathons to interact with experts and like-minded learners.
      </p>
    </div>
  </div>
  <!-- End Breadcrumbs -->

  <!-- ======= Events Section ======= -->
  <section id="events" class="events">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/events-1.jpg" alt="..." />
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <a href="">Introduction to webdesign</a>
              </h5>
              <p class="fst-italic text-center">
                Sunday, September 26th at 7:00 pm
              </p>
              <p class="card-text">
                In the digital age, an effective and attractive web presence is paramount. "Introduction to Web Design" is a seminar tailored for individuals eager to step into the dynamic world of website creation. Whether you're a budding entrepreneur, a business owner looking to revamp your brand's online presence, or just curious about how websites are designed, this event is for you.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/events-2.jpg" alt="..." />
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="">Marketing Strategies</a></h5>
              <p class="fst-italic text-center">
                Sunday, November 15th at 7:00 pm
              </p>
              <p class="card-text">
                The world of marketing is vast, with strategies evolving at the speed of light in this digital era. "Marketing Strategies" aims to bridge the gap between traditional marketing methods and the newer, digital-centric approaches. Join us to explore the avenues that can take your business or brand to new heights.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Events Section -->
</main>
<!-- End #main -->
