<div
  id="forgot-container"
  class="absolute inset-0 w-full h-screen flex flex-col items-center justify-center z-[999] bg-slate-50 bg-opacity-50"
>
  <div
    class="w-[90%] sm:w-[80%] md:w-[40%] ld:w-[30%] flex flex-col items-center justify-center relative bg-neutral-100 rounded-md shadow py-8 px-4"
  >
    <a
      class="absolute right-1 top-1 font-bold text-base underline text-accent text-center rounded-md hover:bg-accent hover:text-white py-1 px-2"
      routerLink="/auth/login"
      >Close</a
    >
    <form (ngSubmit)="onSubmit()" class="w-full md:w-[60%] mx-auto space-y-6">
      <h5 class="text-accent font-bold text-base">
        Enter your email address to receive link to reset your password.
      </h5>
      <div class="">
        <input
          class="w-full text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border border-gray-200 rounded-lg focus:outline-none focus:border-accent-light"
          type="email"
          minlength="5"
          maxlength="200"
          required=""
          name="email"
          placeholder="example@gmail.com"
          [(ngModel)]="email"
        />
      </div>

      <h6
      *ngIf="errorMessage$ | async"
        class="p-2 font-bold text-sm rounded-sm text-red-400 m-auto text-center"
      >
        {{ errorMessage$ | async }}
      </h6>
      <h6
      *ngIf="successMessage$ | async"

        class="p-2 font-bold text-sm rounded-sm text-green-600 m-auto text-center"
      >
        {{ successMessage$ | async }}
      </h6>
      <div>
        <button
          type="submit"
          class="w-full flex justify-center bg-accent-dark hover:bg-accent text-gray-100 p-3 rounded-lg tracking-wide font-semibold cursor-pointer transition ease-in duration-500"
        >
          {{ (IsLoading$ | async) ? "Loading..." : "Submit" }}
        </button>
      </div>
    </form>
  </div>
</div>
