*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the styles for the scrollbar track and thumb */
/* This will work in some modern browsers (e.g., Chrome) */

/* Track (the background of the scrollbar) */
::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #34a853; /* color of the scrollbar thumb */
  border-radius: 6px; /* rounded corners of the thumb */
}

/* Handle when the user hovers over the thumb */
::-webkit-scrollbar-thumb:hover {
  background: #059669; /* color of the thumb on hover */
}

/* Track (background of the scrollbar) when not hovering over the thumb */
::-webkit-scrollbar-track {
  border-radius: 6px; /* rounded corners of the thumb */
  background: #f1f1f1;
}

/* Handle when the user hovers over the track */
::-webkit-scrollbar-track:hover {
  background: #ddd;
 
}

/* Corner (between the vertical and horizontal scrollbars) */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

a {
  text-decoration: none !important;
}

mat-error {
  @apply text-red-500;
}

body {
  margin: 0;
  @apply font-sans;
  position: relative;
  color: #444444;
  background: #f6f9ff;
  overflow-x: hidden !important;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #5fcf80;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
  cursor: pointer;
}

.back-to-top:hover {
  background: #7ed899;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #5fcf80;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
}

.section-bg {
  background-color: #f6f7f6;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #9ae1af;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #37423b;
}

.breadcrumbs {
  text-align: center;
  background: #5fcf80;
  padding: 30px 0;
  color: #fff;
}

.breadcrumbs h2 {
  font-size: 32px;
  font-weight: 500;
}

.breadcrumbs p {
  font-size: 14px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 30px 0;
}

.counts .counters span {
  font-size: 48px;
  display: block;
  color: #5fcf80;
  font-weight: 700;
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #37423b;
}

.learnal-btn {
  @apply w-auto h-auto py-2 px-4 text-center bg-accent text-white font-bold text-base rounded-[2rem] flex items-center justify-center gap-2 hover:bg-accent-dark hover:text-white;
}

.overflow-behaviour-contain {
  overscroll-behavior: contain !important;
}
